
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway','Sans-serif';
	background-color: lightcyan;
}


.contacts {
	margin-left: 20px;
}

.contact-link {
	text-decoration: none;
	color: inherit;
	margin-right: 10px;
}

.content-div {
	background-image: url('/background_theme.png');
	width: 75%;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 10px;
	overflow: hidden;
	padding: 20px 0 0 15px;
}

.details {
	list-style-type: none;
	margin-left: 20px;
}


.logo img {
	width: inherit;
}

.logo {
	width: 40px;
	margin-right: 15px;	
}

.navbar-container {
	width: inherit;
	display: flex;
	justify-content: center;
	background-color: lightblue;
}


.navlink {
	float: left;
	display: block;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: inherit;
	width: 145px;
	text-align: center;
	
}

.navbar {
	list-style-type: none;
	overflow: hidden;
	height: inherit;	
}

.nav-a {
	margin: 0 25px 0 25px;
	color: darkviolet;
	text-decoration: none;
	line-height: 270%;
}



.pic-container img {
	border-radius: 50%;
	width: 200px;	
}


.pic-container {
	float: left;
}


.slider-off { 
	display: none;
}

.slider-on { 
	display: block;
}


.slider-button {
	background: inherit;
}

.text-container {
	float: left;
	margin-right: 20px;
}
